[submodule "common"]
	path = common
	url = git@github.com:AER-RC/common.git
[submodule "LBLRTM"]
	path = LBLRTM
	url = git@github.com:AER-RC/LBLRTM.git
[submodule "LNFL"]
	path = LNFL
	url = git@github.com:AER-RC/LNFL.git
